
%montserrat-400{
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

%montserrat-500{
  font-family: 'Montserrat-Medium';
  font-weight: 500;
}

%montserrat-900{
  font-family: 'Montserrat-Black';
  font-weight: 900;
}

%roboto-300{
  font-family: 'Roboto-Light';
  font-weight: 300;
}

%roboto-400{
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%roboto-500{
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

%roboto-slab-700{
  font-family: 'RobotoSlab-Bold';
  font-weight: 700;
}